//color variables
$primary-main-picker:#FFFFFF;
$primary-main-color:#faf8f7;
$primary-main-sky-color:#70DEF3;
$color-white:#d1cfcb9f;
$color-primary:#33FFBD;
$color-primary-light:#75FF33;
$color-primary-dark:#33FFF0;

$color-secondary-light-1:#ffb900;
$color-secondary-light-2:#ff7730;

$color-tertiary-light-1:hsl(253, 100%, 58%);
$color-tertiary-light-2:#5643fa;
$color-tertiary-blue:#1DA1F2;



$color-grey-light-1:#f7f7f7;
$color-grey-dark:#777777;
$color-grey-dark-2:rgba(153, 153, 153, 0.212);
$color-heavy-grey:#141414;
$color-grey-light-2:#eee;
$color-grey-dark-3:#333;
$color-gray-light:#f1f1f1;

$color-black:#000;

//variables for grid
$grid-width:114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;

//font-sizes
$xsmall:.89em;
$small:.99em;
$m-small:1.3em;
$m-2-small:1.8em;
$normal: 2.5em;
$medium:2.99em;
$large:3.5em;
$big:4.5em;
$bigger:6em;
$medium-big:8em;
$extra-bigger:10em;
$medium-extra-large:15em;
$extra-large:20em;


//margin
$small:2em;
$medium:4em;
$large:8em;
$larger:12em;