.u-margin-bottom-small{
    margin-bottom: $small;
}
.u-margin-bottom-medium{
    margin-bottom: $medium;
}
.u-margin-bottom-large{
    margin-bottom: $large;
}
.u-margin-bottom-larger{
    margin-bottom: $larger;
}
.u-margin-top-small{
    margin-top: $small;
}
.u-margin-top-medium{
    margin-top: $medium;
}
.u-margin-top-large{
    margin-top: $large;
}
.u-margin-top-larger{
    margin-top: $larger;
}
.u-margin-small{
margin:$small
}
.u-margin-medium{
margin:$medium;
}
.u-margin-large{
margin: $large;
}
.u-margin-larger{
margin:$larger;
}
.u-margin-left-small{
margin-left:$small;
}
.u-margin-left-medium{
margin-left:$medium;
}
.u-margin-left-large{
margin-left:$large;
}
.u-margin-left-larger{
margin-left:$larger
}
.u-margin-right-small{
margin-right: $small;
}
.u-margin-right-medium{
margin-right:$medium;
}
.u-margin-right-large{
margin-right:$large;
}
.u-margin-right-larger{
margin-right:$larger;
}
